.gcloudignore
.git
.gitignore
.github

.env
.env.*

.venv
.venv-cast
__pycache__
*.pyc

frontend/node_modules
frontend/dist

*service-account*.json
*credentials*.json
gha-creds-*.json

server/test_server.py
server/cast_cloud.py
server/cast_clock.py

README.md
SECURITY.md
LICENSE
requirements-cast.txt
